<div class="d-flex flex-column">
    <div class="img-thumbnail" style="background-image:url('@Film.ImageUrl');">
        <img src="@Film.ImageUrl" />
    </div>
    <h1 class="mt-2">@Film.Title</h1>
    <h4>@Film.Description</h4>
    <h4>Director: @Film?.Director?.Name</h4>
    <h4>@string.Join(", ", Film?.Genres?.Select(g => g.Name).ToList() ?? new())</h4>
    <a href="@Film?.FilmUrl">Go to the film</a>
</div>
@code {
    [Parameter] public FilmDTO Film { get; set; } = new();
    [Parameter] public DirectorDTO Director { get; set; } = new();
    public List<FilmGenreDTO> Genres { get; set; } = new();
    public List<SimilarFilmDTO> Similars { get; set; } = new();
    string genres = string.Empty;

    /*protected override async Task OnParametersSetAsync()
    {
        var slask = Film?.Genres?.Select(g => g.Name).ToList();
        if (slask is null) slask = new();
        genres = 
    }*/
}
